.setting__page__container {
  max-width: 100%;
  height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.setting__container {
  max-width: 100%;
  min-height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
}
