@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
  font: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  --color-bg: #1f1f38;
  --color-bg-variant: #2c2c6c;
  --color-primary: #4db5ff;
  --color-primary-variant: rgba(75, 195, 300, 0.7);
  --color-white: #fff;
  --color-light: rgb(300, 300, 300, 0.5);
  --transition: all 500ms ease;
  --container-width-lg: 70%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
  --container-width-ssm: 91%;
  --box-Shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

::-webkit-scrollbar {
  display: none;
}

html {
  font-size: 45%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #f0f2f5;
  color: #2e2e2e;
  line-height: 1.7;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

a {
  width: 100%;
  min-height: max-content;
  color: #000;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: var(--transition);
  text-decoration: none;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.container {
  max-width: var(--container-width-lg);
  margin: 0 auto;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  font-weight: 400;
}

.homepage__landing {
  max-width: 100%;
  height: calc(100vh - 5rem);
  display: grid;
  grid-template-columns: 20% 60% 20%;
}

.slick-arrow .slick-prev {
  display: none;
}

.active {
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  color: #000;
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  transition: var(--transition);
}

.active p {
  font-size: 1.7rem;
  font-weight: 600;
  color: #fff;
}

.loader__container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}

@media screen and (max-width: 1440px) {
  html {
    font-size: 43.5%;
  }
  .container {
    max-width: var(--container-width-lg);
  }
  .homepage__landing {
    grid-template-columns: 20% 57% 23%;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 38.5%;
  }
  .container {
    max-width: var(--container-width-lg);
  }
  .homepage__landing {
    grid-template-columns: 20% 55% 25%;
  }
}

@media screen and (max-width: 992px) {
  html {
    font-size: 33.5%;
  }
  .container {
    max-width: var(--container-width-md);
  }
  .homepage__landing {
    grid-template-columns: 20% 52% 27%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 37.5%;
  }
  .container {
    max-width: var(--container-width-sm);
  }
  .homepage__landing {
    grid-template-columns: 14% 55% 31%;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 44%;
  }
  .container {
    max-width: var(--container-width-ssm);
  }
  .homepage__landing {
    grid-template-columns: 1fr;
  }
}
